@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: white;
}

* {
    padding: 0;
    margin: 0;
    font-family: Inter;
}

.container {
    width: 600px;
    margin: 0 auto;
    min-height: 100vh;
    background-image: linear-gradient(to top, #7376BB, #0B1197);
    position: relative;
}

.title-container {
    background-color: #000000;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px;
}


.all-todo-btn,
.home-btn {
    width: 50%;
    padding: 20px 0;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


.add-ico {
    background-color: #0B1197;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);cursor: pointer;
    position: fixed;
    z-index: 100;
}

input[type="checkbox"] {
    width: 17px;
    height: 17px;
    accent-color: #4f46e5;
}

.singleTodo {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.singleTodo:hover {
    box-shadow: 0px 2px 12px;
}

.toto-title {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
}