@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: white;
}

* {
    padding: 0;
    margin: 0;
    font-family: Inter;
}


.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.container {
    width: 550px;
    margin: 0 auto;
    background-color: #F8F2EF;
    position: relative;
     flex: 1;                  
  overflow-y: auto;
  /* padding: 15px; */
}

.todos-container {
    padding: 15px;
}


.title-container {
    color: white;
    display: flex;
    align-items: center;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.all-todos-btn,
.home-btn,
.complate,
.all {
    width: 100%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 45px 0px;
    border-radius: 30px;
    border: none;
}

.all-todos-btn {
    background-color: #8578DA;
    color: white;
}

.home-btn {
    background-color: #155387;
    color: white;
}

.complate {
    background-color: #618199;
}

.all {
    background-color: #2C9AB0;
}


.add-ico {
    background-color: #0B1197;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    position: fixed;
    z-index: 100;
}

input[type="checkbox"] {
    width: 17px;
    height: 17px;
    accent-color: #4f46e5;
    border-radius: 50%;
}

.singleTodo {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.singleTodo:hover {
    box-shadow: 0px 2px 12px;
}

.toto-title {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
}


.titleTime {
    display: flex;
    flex-direction: column;
}


.btn-add {
    padding: 0 30px;
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
    background-color: #0B1197;
    color: white;
}

.add-todo {
    padding: 15px;
    color: white;
    display: none;
    margin-top: 50px;
}


.task-add-input {
    width: 100%;
    padding: 15px;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 10px;
}

.add-task-form{
    display: flex; gap: 10px;
}

.task-add-title{
    text-align: center; padding-bottom: 20px; color: black;
}